BasedOnStyle: Mozilla
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Allman
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 100
SpaceAfterTemplateKeyword: true
Standard: Cpp11
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None

